@import "compass/css3";


body{
	width: 100%;
	background: url('../img/dark_wood.png') repeat;
}

#explain-game{
	position:relative;
	.title{ 
		font-size: 2.0625rem;
		color: #fff;
		text-align:center;
		margin-top: 15%;
		span{
			-webkit-animation: start 1.5s 2;
			animation: start 1.5s 2;
			color: #DB336C;
			font-size: 2.5rem;
			display:inline-block;
		} 
	}
	.introduce{
		padding: 0 5%;
		position:relative;
		margin-top: 15%;
		div , ul {
			color:#fff;
		}
		.rule{
			font-size: 1.5rem;
			margin-bottom:5px;
		}
		ul li{
			margin-top: 5px;
			line-height: 21px;
		}
	}
	.begin{
		position: relative;
		width: 100%;
		margin-top:20%;
		text-align:center;
		.btn{
			background-color:#D02D2D;
			border-color: transparent;
			padding : 6px 12px;
			font-size: 1rem;
			font-weight: 400;
			text-align: center;
			@include border-radius(4px);
			color: #fff;
			margin: 0 auto; 
			width:46%;
			height: 43px;
		}
	}	
}

@-webkit-keyframes start{
	0%{-webkit-transform: rotateX(0deg);transform: rotateX(0deg);}
	25%{-webkit-transform: rotateX(90deg);transform: rotateX(90deg);}
	50%{-webkit-transform: rotateX(180deg);transform: rotateX(180deg);}
	75%{-webkit-transform: rotateX(270deg);transform: rotateX(270deg);}
	100%{-webkit-transform: rotateX(360deg);transform: rotateX(360deg);}
}

#main-game{
	margin:5px;
}
.time-zone{
	position:relative;
	.time{
		font-size: 3rem;
		color: #fff;
	}
	.time-fix{
		color:#eee;
		font-size: 1.5rem;
	}
}
.math{
	margin: 0 auto;
	width:70%;
	height:100px;
	background-color: #fff;
	@include border-radius(5px);
	position: relative;
	margin-top:10%;
	.math-container{
		font-size: 3rem;
		line-height: 100px;
		text-align: center;
	}
}
.answer{
	margin:0 auto;
	width:65%;
	position:relative;
	margin-top:20%;
	input{
		margin:0 auto;
		width: 100%;
		height:31px;
		text-align: center;
		font-size: 1.125rem;
	}
	.input{
		margin:0 auto;
		width: 100%;
		height:36px;
		background-color:#fff;
		line-height: 36px;
		text-align: center;
		color: #E4399A;
		font-size: 1.75rem;
		overflow: hidden;
	}
	.reminder{
		color:#7C7C7C;
		margin:0 auto;
		margin-top: -36px;
		width: 100%;
		height:36px;
		line-height: 36px;
		text-align: center;
	}
}

#keyboard{
	margin : 0 auto;
	width : 80%;
	overflow: hidden;
	margin-top:15%;
	.key{
		width: 20%;
		height: 40px;
		text-align: center;
		float:left;
		margin-left: 10px;
		border: 1px solid #eee;
		cursor: pointer;
		line-height: 40px;
		color:#fff;
		margin-top: 5%;
	}
}
.share{
	position: relative;
	img{
		width: 100%;
	}
}
#result{
	margin: 0 3% ; 
}
.score{
	position:relative;
	margin : 0 auto;
	margin-top:61px;
	width:80%;
	height: 128px;
	// background-color:rgba(255,255,255,0.28);
	@include border-radius(4px);
	.fen{
		font-size: 30px;
		text-align: center;
		color:#fff;
		span{
			font-size: 33px;
			color:#F22645;
		}
	}
	.defeat{
		margin-top: 40px;
		font-size: 1.8125rem;
		text-align: center;
		color:#fff;
		span{
			color: #F22645;
			font-size: 2.0625rem;
		}
	}
}

.replay{
	position: relative;
	width: 100%;
	margin-top:74px;
	text-align:center;
	.btn{
		background-color:#D02D2D;
		border-color: transparent;
		padding : 6px 12px;
		font-size: 1rem;
		font-weight: 400;
		text-align: center;
		@include border-radius(4px);
		color: #fff;
		margin: 0 auto; 
		width:46%;
		height: 43px;
	}
}