@import "compass/css3";

$backColor : #01a185;

body{
	width: 100%;
	background-color: $backColor;
}

@-webkit-keyframes start{
	0%{font-size:0rem;}
	100%{font-size: 2.5rem}
}

@-webkit-keyframes wen{
	0%{-webkit-transform: rotate(0deg)}
	25%{-webkit-transform: rotate(-45deg)}
	50%{-webkit-transform: rotate(0deg)}
	75%{-webkit-transform: rotate(45deg)}
	100%{-webkit-transform: rotate(0deg)}
}

#explain-game{ 
	position:relative;
	.title{ 
		font-size: 2.0625rem;
		color: #fff;
		text-align:center;
		margin-top: 15%;
		span{
			-webkit-animation: start 1s 1;
			animation: start 1s 1;
			color: #DB336C;
			font-size: 2.5rem;
			display:inline-block;
		} 
	}
	.introduce{
		padding: 0 5%;
		position:relative;
		margin-top: 25%;
		div , ul {
			color:#fff;
		}
		.main-rule{
			text-align: center;
			font-size: 3rem;
			font-weight: 800;
			span{
				-webkit-animation: wen 0.8s linear 1s 2;
			    animation: wen 0.8s linear 1s 2; 
				color: #DB336C;
			}
		}
		.rule{
			font-size: 1.5rem;
			margin-bottom:5px;
		}
		ul li{
			margin-top: 5px;
			line-height: 21px;
		}
	}
	.begin{
		position: relative;
		width: 100%;
		margin-top:25%;
		text-align:center;
		.btn{
			background-color:transparent;
			border-color: transparent;
			border: 1px solid #fff;
			padding : 6px 12px;
			font-size: 1rem;
			font-weight: 400;
			text-align: center;
			@include border-radius(4px);
			color: #fff;
			margin: 0 auto; 
			width:46%;
			height: 43px;
		}
	}	
}

#main-game{
	margin:5px;
}
.time-zone{
	position:relative;
	padding-bottom: 2%;
	.time{
		font-size: 3rem;
		color: #fff;
	}
	.time-fix{
		color:#eee;
		font-size: 1.5rem;
	}
}
.math{
	margin: 0 auto;
	width:70%;
	height:100px;
	color:#fff;
	border:2px solid #fff;
	@include border-radius(5px);
	position: relative;
	margin-top:7%;
	.math-container{
		font-size: 3rem;
		line-height: 100px;
		text-align: center;
	}
}
.answer{
	margin:0 auto;
	width:65%;
	position:relative;
	margin-top:7%;
	input{
		margin:0 auto;
		width: 100%;
		height:31px;
		text-align: center;
		font-size: 1.125rem;
	}
	.input{
		margin:0 auto;
		width: 100%;
		height:36px;
		border:1px solid #fff;
		line-height: 36px;
		text-align: center;
		color: #E4399A;
		font-size: 1.75rem;
		overflow: hidden;
	}
	.reminder{
		color:#fff;
		margin:0 auto;
		margin-top: -36px;
		width: 100%;
		height:36px;
		line-height: 36px;
		text-align: center;
	}
}

#keyboard{
	margin : 0 auto;
	max-width : 70%;
	overflow: hidden;
	margin-top:5%;
	.key{
		width: 27%;
		height: 47px;
		text-align: center;
		float:left;
		margin-left: 10px;
		border: 1px solid #eee;
		cursor: pointer;
		line-height: 44px;
		color:#fff;
		margin-top: 5%;
	}
}
.share{
	position: relative;
	img{
		width: 100%;
	}
}
#result{
	margin: 0 3% ; 
}
.score{
	position:relative;
	margin : 0 auto;
	margin-top:61px;
	width:80%;
	height: 128px;
	// background-color:rgba(255,255,255,0.28);
	@include border-radius(4px);
	.fen{
		font-size: 30px;
		text-align: center;
		color:#fff;
		span{
			font-size: 33px;
			color:#F22645;
		}
	}
	.defeat{
		margin-top: 40px;
		font-size: 1.8125rem;
		text-align: center;
		color:#fff;
		span{
			color: #F22645;
			font-size: 2.0625rem;
		}
	}
}

.replay{
	position: relative;
	width: 100%;
	margin-top:74px;
	text-align:center;
	.btn{
		background-color: transparent;
		border-color: transparent;
		border:1px solid #fff;
		padding : 6px 12px;
		font-size: 1rem;
		font-weight: 400;
		text-align: center;
		@include border-radius(4px);
		color: #fff;
		margin: 0 auto; 
		width:46%;
		height: 43px;
	}
}