/* line 5, ../sass/index.scss */
body {
  width: 100%;
  background-color: #01a185;
  -moz-user-select: none;
}

@-webkit-keyframes start {
  /* line 11, ../sass/index.scss */
  0% {
    font-size: 0rem;
  }

  /* line 12, ../sass/index.scss */
  100% {
    font-size: 2.5rem;
  }
}

@-webkit-keyframes wen {
  /* line 16, ../sass/index.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 17, ../sass/index.scss */
  25% {
    -webkit-transform: rotate(-45deg);
  }

  /* line 18, ../sass/index.scss */
  50% {
    -webkit-transform: rotate(0deg);
  }

  /* line 19, ../sass/index.scss */
  75% {
    -webkit-transform: rotate(45deg);
  }

  /* line 20, ../sass/index.scss */
  100% {
    -webkit-transform: rotate(0deg);
  }
}

/* line 23, ../sass/index.scss */
#explain-game {
  position: relative;
}
/* line 25, ../sass/index.scss */
#explain-game .title {
  font-size: 2.0625rem;
  color: #fff;
  text-align: center;
  margin-top: 15%;
}
/* line 30, ../sass/index.scss */
#explain-game .title span {
  -webkit-animation: start 1s 1;
  animation: start 1s 1;
  color: #DB336C;
  font-size: 2.5rem;
  display: inline-block;
}
/* line 38, ../sass/index.scss */
#explain-game .introduce {
  padding: 0 5%;
  position: relative;
  margin-top: 25%;
}
/* line 42, ../sass/index.scss */
#explain-game .introduce div, #explain-game .introduce ul {
  color: #fff;
}
/* line 45, ../sass/index.scss */
#explain-game .introduce .main-rule {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
}
/* line 49, ../sass/index.scss */
#explain-game .introduce .main-rule span {
  -webkit-animation: wen 0.8s linear 1s 2;
  animation: wen 0.8s linear 1s 2;
  color: #DB336C;
}
/* line 55, ../sass/index.scss */
#explain-game .introduce .rule {
  font-size: 1.5rem;
  margin-bottom: 5px;
}
/* line 59, ../sass/index.scss */
#explain-game .introduce ul li {
  margin-top: 5px;
  line-height: 21px;
}
/* line 64, ../sass/index.scss */
#explain-game .begin {
  position: relative;
  width: 100%;
  margin-top: 25%;
  text-align: center;
}
/* line 69, ../sass/index.scss */
#explain-game .begin .btn {
  background-color: transparent;
  border-color: transparent;
  border: 1px solid #fff;
  padding: 6px 12px;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  margin: 0 auto;
  width: 46%;
  height: 43px;
}

/* line 86, ../sass/index.scss */
#main-game {
  margin: 5px;
}

/* line 89, ../sass/index.scss */
.time-zone {
  position: relative;
  padding-bottom: 2%;
}
/* line 92, ../sass/index.scss */
.time-zone .time {
  font-size: 3rem;
  color: #fff;
}
/* line 96, ../sass/index.scss */
.time-zone .time-fix {
  color: #eee;
  font-size: 1.5rem;
}

/* line 101, ../sass/index.scss */
.math {
  margin: 0 auto;
  width: 70%;
  height: 100px;
  color: #fff;
  border: 2px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  margin-top: 7%;
}
/* line 110, ../sass/index.scss */
.math .math-container {
  font-size: 3rem;
  line-height: 100px;
  text-align: center;
}

/* line 116, ../sass/index.scss */
.answer {
  margin: 0 auto;
  width: 65%;
  position: relative;
  margin-top: 7%;
}
/* line 121, ../sass/index.scss */
.answer input {
  margin: 0 auto;
  width: 100%;
  height: 31px;
  text-align: center;
  font-size: 1.125rem;
}
/* line 128, ../sass/index.scss */
.answer .input {
  margin: 0 auto;
  width: 100%;
  height: 36px;
  border: 1px solid #fff;
  line-height: 36px;
  text-align: center;
  color: #E4399A;
  font-size: 1.75rem;
  overflow: hidden;
}
/* line 139, ../sass/index.scss */
.answer .reminder {
  color: #fff;
  margin: 0 auto;
  margin-top: -36px;
  width: 100%;
  height: 36px;
  line-height: 36px;
  text-align: center;
}

/* line 150, ../sass/index.scss */
#keyboard {
  margin: 0 auto;
  max-width: 70%;
  overflow: hidden;
  margin-top: 5%;
}
/* line 155, ../sass/index.scss */
#keyboard .key {
  width: 27%;
  height: 47px;
  text-align: center;
  float: left;
  margin-left: 10px;
  border: 1px solid #eee;
  cursor: pointer;
  line-height: 44px;
  color: #fff;
  margin-top: 5%;
}

/* line 168, ../sass/index.scss */
.share {
  position: relative;
  height:123px;
}
/* line 170, ../sass/index.scss */
.share img {
  width: 100%;
}

/* line 174, ../sass/index.scss */
#result {
  margin: 0 3%;
}

/* line 177, ../sass/index.scss */
.score {
  position: relative;
  margin: 0 auto;
  margin-top: 61px;
  width: 80%;
  height: 128px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 185, ../sass/index.scss */
.score .fen {
  font-size: 30px;
  text-align: center;
  color: #fff;
}
/* line 189, ../sass/index.scss */
.score .fen span {
  font-size: 33px;
  color: #F22645;
}
/* line 194, ../sass/index.scss */
.score .defeat {
  margin-top: 40px;
  font-size: 1.8125rem;
  text-align: center;
  color: #fff;
}
/* line 199, ../sass/index.scss */
.score .defeat span {
  color: #F22645;
  font-size: 2.0625rem;
}

/* line 206, ../sass/index.scss */
.replay {
  position: relative;
  width: 100%;
  margin-top: 74px;
  text-align: center;
}
/* line 211, ../sass/index.scss */
.replay .btn {
  background-color: transparent;
  border-color: transparent;
  border: 1px solid #fff;
  padding: 6px 12px;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  margin: 0 auto;
  width: 46%;
  height: 43px;
}
